<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=2.0.12.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
    <section name="SongsSection" type="General.Config.Section,General" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
   <!--Preconditions:
       Run this command under a cmd box as administrator otherwise you get a Not digitally signed error when executiing the Powershell script that create a Quick Access link for the presentation directory:
       Set-ExecutionPolicy -ExecutionPolicy Unrestricted -Scope CurrentUser
       Check with:Get-ExecutionPolicy -List-->
    <add key="DirectoryCreatePresentation" value="C:\Users\frank\Softouch\01-Onze Kerkdiensten" /><!--If directory YYYY-MM-DD doesn't exist, it will create one the first following Sunday-->
    <add key="filenameReadingText" value="" /><!--Reading the text of the Liturgie. When left empty, the text on the Clipboard will be taken-->
    <add key="browserForRetrievingDataFromInternet" value="chrome" />
    <add key="youtubeDownloadApplication" value="C:\Users\frank\Softouch\youtube-dl.exe" />
    <add key="powerpointTemplateFile" value="C:\Users\frank\Softouch\00 Templates\00-Template algemeen.ppt" /> 
  </appSettings>
  <SongsSection>
    <SectionCollectionElement key="LiedBoek">
      <add key="url" value="https://liedboek.liedbundels.nu/site/nl/home/Default.aspx"/>
      <add key="loginName" value="frank@chello.nl"/>
      <add key="password" value="YbMIMFWp"/>
      <add key="downloadDirectory" value="C:\Users\frank\Downloads"/>
      <add key="waitToDownloadFile" value="10"/><!--In seconds-->
      <add key="regexSearchStringForSongs" value="lied\s+(\d+[a-z,A-Z]?)"/>      
      <add key="regexSearchStringForSongsNumbers" value="lied\s+\d+.?:?([\d-,\s]+)"/><!--[\d-,\s means one of the 4 character \d a minus a comma or space-->     
 </SectionCollectionElement>
  </SongsSection>  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <log4net configSource="log4net.config" />
</configuration>